h1,
.h1 {
    font-weight: 500;
    margin: 0;
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
    line-height: 2.5rem;
}

h2,
.h2 {
    font-weight: 500;
    margin: 0;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

h3,
.h3 {
    font-weight: 500;
    margin: 0;
    margin-bottom: 1.25rem;
    font-size: 1.3125rem;
    line-height: 1.75rem;
}

h4,
.h4 {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 1.125rem;
    margin-top: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
}

p,
.p {
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

a {
    font-size: inherit;
}

ol,
ul {
    li {
        line-height: 1.5rem;
        margin-bottom: 1.125rem;
    }
}

@media screen and (min-width: 1024px) {

    h1,
    .h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }

    h2,
    .h2 {
        font-size: 1.875rem;
        line-height: 2.5rem;
    }
}
