.site-footer {
    .footer-main {
        padding: 1rem 1.25rem;
        gap: 1.5rem;

        a {
            color: var(--wp--preset--color--black) !important;
            text-decoration: none;

            &:hover {
                color: var(--wp--preset--color--white) !important;
            }
        }

        .footer-contact {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            flex-direction: column;

            .wp-block-columns {
                flex-wrap: nowrap !important;
                gap: 1rem;
                display: flex;
                max-width: fit-content;

                &:hover {
                    a,i {
                        color: var(--wp--preset--color--white) !important;
                    }

                }

                p {
                    margin: 0;
                }

                .icon-column {
                    flex: 0 1 auto;
                    min-width: 1.25rem;
                    max-width: 1.25rem;

                    .wp-block-lg-blocks-font-awesome {
                        font-size: 1.25rem;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;

                        a {
                            display: flex;
                            text-decoration: none;

                            i {
                                line-height: 1.5rem;
                            }
                        }
                    }

                }

                .link-column {
                    flex: 1 1 auto;
                    display: flex;
                    p {
                        display: flex;
                        a {
                            display: flex;
                        }
                    }
                }
            }
        }

        .footer-social {
            .lg-social-media-cont {
                ul.lg-social-media {
                    list-style-type: none;
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 1.5rem;
                    padding-inline-start: 0;
                    margin: 0;

                    a {
                        i {
                            font-size: 1.5625rem;
                            line-height: 1.75rem;
                        }
                    }

                }
            }
        }
        .footer-links {
            p {
                text-transform: uppercase;
                font-weight: 600;
                margin-top: 0;
            }
            ul {
                list-style-type: none;
                padding-inline-start: 0;
                font-weight: 600;
                margin: 0;
            }
        }
        .footer-social.has-contact {
            > p {
                margin-top: 0;
                text-transform: uppercase;
                font-weight: 600;
            }
            .wp-block-columns {
                flex-wrap: nowrap !important;
                gap: 1rem;
                display: flex;
                max-width: fit-content;
                margin-bottom: 1rem;


                &:hover {
                    a,i {
                        color: var(--wp--preset--color--white) !important;
                    }

                }

                p {
                    margin: 0;
                }

                .icon-column {
                    flex: 0 1 auto;
                    min-width: 1.25rem;
                    max-width: 1.25rem;

                    .wp-block-lg-blocks-font-awesome {
                        font-size: 1.25rem;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;

                        a {
                            display: flex;
                            text-decoration: none;

                            i {
                                line-height: 1.5rem;
                            }
                        }
                    }

                }

                .link-column {
                    flex: 1 1 auto;
                    display: flex;
                    p {
                        display: flex;
                        a {
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    .footer-legal {
        padding: 1rem 1.25rem;
        text-align: center;
        gap: 0.75rem;

        .footer-longevity {
            p {
                margin: 0;
                text-align: center;

                a {
                    color: var(--wp--preset--color--black);
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    .site-footer {
        .footer-main {
            justify-content: space-between;
            .footer-logo {
                max-width: fit-content;
            }
            .footer-contact {
                row-gap: 0.5rem;
                align-items: center;
                max-width: fit-content;
            }
            .footer-social {
                align-items: center;
                display: flex;
                max-width: fit-content;
            }
            .footer-social.has-contact {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .footer-legal {
            .footer-copyright {
                text-align: left;
            }
            .footer-longevity {
                display: flex;
                justify-content: flex-end;
                p {
                    text-align: right;
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .site-footer {
        .footer-main {
            .footer-links {
                max-width: fit-content;
                .wp-block-column {
                    max-width: fit-content;
                    p, ul, li {
                        display: flex;
                    }
                    ul {
                        flex-direction: column;
                    }
    
                }
            }
        }
    }
}