html {
    max-width: 100vw;
    overflow-x: hidden;
    body {
        max-width: 100vw;
    }
}

.wp-block-post-featured-image {
    margin-bottom: 0;
}


.wp-site-blocks {
    position: relative;
    .entry-content {
        --full-width-padding: 1.25rem;
        padding-left: var(--full-width-padding);
        padding-right: var(--full-width-padding);

        .full-width, .alignfull {
            box-sizing: border-box;
            max-width: unset;
            width: 100vw;
            margin-left: calc(var(--full-width-padding) * -1) !important;
            margin-right: calc(var(--full-width-padding) * -1) !important;
            padding-left: var(--full-width-padding);
            padding-right: var(--full-width-padding);
            
            
        }
        
        ul {
            li {
                a {
                    color: var(--wp--preset--color--primary);
                    &:hover {
                        color: var(--wp--preset--color--secondary);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .wp-site-blocks {
        .entry-content {
            --full-width-padding: 2.5rem;
        }
    }
}

@media screen and (min-width: 1440px) {
    .wp-site-blocks {
        .entry-content {
            --full-width-padding: 5rem;
        }   
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: calc(16px * (100vw / 1920px));
    }
    .wp-site-blocks {
        .entry-content {
            --full-width-padding: 10rem;
        }   
    }
}

@media screen and (min-width: 2560px) {
    img {
        min-width: 100%;
    }
}