nav.main-nav {
    justify-content: flex-end !important;
    button.wp-block-navigation__responsive-container-open { // Open menu button
        svg {
            display: none; // Hide Default Hamburger Icon
        }
        &::after {   // Use FA Hamburger Icon instead
            content: "\f0c9";
            font: var(--fa-font-solid);
            font-size: 3rem;
        }
    }
    div.wp-block-navigation__responsive-container { // This is the top-level menu container.
        box-sizing: border-box;
        max-width: 100vw;
        padding: 1rem;
        div.wp-block-navigation__responsive-close { // not sure what this container div is for.
            div.wp-block-navigation__responsive-dialog { // another container div. 
                margin-top: 0;
                button.wp-block-navigation__responsive-container-close { // Close menu button
                    svg {
                        display: none; // Hide default 'X' Icon
                    }
                    &::after {   // Use FA X Icon instead
                        content: "\e59b";
                        font: var(--fa-font-solid);
                        font-size: 3rem;
                    }
                }
                
                div.wp-block-navigation__responsive-container-content { // another container div. directly contains the navigation ul.
                    padding-top: 4rem;
                    ul.wp-block-navigation__container, ul.wp-block-page-list { // Actual navigation item list
                        width: 100%;
                        gap: 0;
                        row-gap: 1rem;
                        padding-inline-start: 0;
                        a { // Basic stylings for all links goes here.
                            //font-weight & lineheight go here.
                            font-weight: 400;
                            line-height: 1.25rem;
                        }
                        li.wp-block-navigation-item { 
                            display: flex;
                            width: 100%;
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 0;
                            a { 
                                display: flex;
                                flex-basis: 80%;
                            }
                            .wp-block-navigation__submenu-icon { // The submenu icon container. // This also applies to all levels of the nav.
                                display: flex;
                                flex-basis: 10%;
                                height: auto;
                                width: auto;
                                flex-grow: 1;
                                justify-content: flex-end;
                                transition: all 0.5s ease-in-out;
                                margin: 0;
                                &::after {
                                    content: "\f078";
                                    font: var(--fa-font-solid);
                                    font-size: 1.5rem;
                                    line-height: 1.25rem;
                                }
                                svg {
                                    display: none;
                                }
                            }
                            ul.wp-block-navigation__submenu-container { // container for all level submenus
                                width: 100%;
                                padding: 0;
                                padding-left: 1rem;
                                padding-top: 1rem;
                                row-gap: 0;
                                padding: 0;
                                li.wp-block-navigation-item {
                                    a.wp-block-navigation-item__content {
                                        padding: 1rem;
                                    }
                                }
                                
                            }
                        }
                    }               
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    // Switch from Mobile Nav to traditional breakout menu. Some themes will stay mobile until they reach 1440px if there are too many menu items to nicely fit.
    nav.main-nav {
        justify-content: flex-end !important;
        button.wp-block-navigation__responsive-container-open { // Open menu button
            display: none; // hide the open button
        }
        div.wp-block-navigation__responsive-container { // This is the top-level menu container.
            display: flex !important; // stop hiding the menu by default. needs an override because WP default menu breakpoints don't cover 1024
            position: relative; // not a modal anymore, so needs to be bound to its parent.
            div.wp-block-navigation__responsive-close { // not sure what this container div is for.
                div.wp-block-navigation__responsive-dialog { // another container div
                    button.wp-block-navigation__responsive-container-close { // Close menu button
                        display: none; // hide the close button
                    }
                    div.wp-block-navigation__responsive-container-content {  // 
                        padding-top: unset;
                        ul.wp-block-navigation__container, ul.wp-block-page-list { // Actual navigation item list
                            column-gap: 1rem;
                            li.wp-block-navigation-item { 
                                width: auto;
                                display: flex;
                                flex-wrap: nowrap;
                                a {
                                    white-space: pre;
                                }
                                .wp-block-navigation__submenu-icon { 
                                    &::after {
                                        font-size: 1rem;
                                        margin-left: 0.75ch;
                                        margin-right: 0.75ch;
                                    }
                                }

                                
                            }
                        }
                    }
                }
            }
        }
    }
}
